body{
  background-image: url("background2.png");
  background-repeat: no-repeat;
}

.container{
  text-align: center;
}

header{
  margin-bottom: 10px;
}

#gameCanvas{
  border: 5px solid black;
}

.dataZone{
  text-align: right;
  display: inline;
}

.containerPadre{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}